.headerWrapper {
  width: 100%;
  height: 5rem;
  background-color: #202024;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    height: 3px;
    left: 0;
    bottom: 0px;
    right: 0;
    background: linear-gradient(100deg, #ff008a 0%,#ffcd1e 100%);
  }

  .headerContainer {
    max-width: 1200px;
    height: 5rem;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;

    > img {
      height: 1.5rem;
    }

    ul {
      display: flex;
      margin-left: 2.5rem;

      li {
        list-style: none;

        a {
          display: flex;
          line-height: 5rem;
          padding-left: 2rem;
          padding-right: 2rem;
        }
      }
      
    }
  }
}