.guildWrapper {
  display: flex;
  height: 3rem;
  flex-direction: row;
  padding: 1rem;
  border-radius: 50rem;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 160px;
  background-color: #121214;
  position: absolute;
  right: 20px;
  bottom: 50px;
  border: 2px solid #1c1c2a;

  > span {
    font-size: 1rem;
    color: white;
  }

  .guildMarkWrapper {
    display: grid;
    margin: 0;
    padding: 0;
    width: 28px;
    height: 28px;
    margin-left: 10px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-column-gap: 0;
    grid-row-gap: 0;
    aspect-ratio: 1 / 1 !important;
    border-radius: 0.3rem;
    border: 1px solid #1c1c2a;
    overflow: hidden;
  
    .pixel {
      padding: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      aspect-ratio: 1 / 1 !important;
    }
  }
  
}

