.loginBoxWrapper {
  min-height: 750px;
  width: 100%;
  background-color: #17171a;
  background-image: url(/images/banner-login.png);
  background-repeat: no-repeat;
  background-position: center top;
  border-end-start-radius: 1rem;
  border-end-end-radius: 1rem;

  padding: 410px 80px 0;
  text-align: left;

  .signIn {
    width: 100%;
    background-color: #ffcd1e;
    border: 0;
    border-radius: 5px;
    margin-top: 10px;
    padding: 15px;
    color: #09090a;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    svg {
      margin-right: 16px;
    }
    &:hover{
      filter: brightness(0.9);
    }

  }
  .imputGroup {
    width: 100%;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .inputUser {
      width: 100%;
      margin-bottom: 10px;
      background-color: #202024;
      border: 1px solid #303036;
      padding: 0 40px;
      border-radius: 5px;
      height: 56px;
      color: #ffcd1e;
      font-size: 14px;
      font-weight: bold;

      &:focus {
        outline: 0;
      }
    }
  }
  
}



 
